.regular-user {
  background-color: lightblue;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
}

.regular-user .username {
  font-weight: bold;
  margin-bottom: 5px;
}

.regular-user .fullName {
  margin-bottom: 5px;
}

.regular-user .user-type {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}
